@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import "../../globalStyling.scss";

.taskcontainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #fdfdfe, #ffffff);
  width: auto;
  height: 600px;
  padding: 3% 5%;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: $box-shadow-dark;


  &__header {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;;
    color: $main-text;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }

  &__button {
    margin-top: auto;
  }

 
}
