.taskcontainer {
    background-color: #292f38;
    width: 25%;
    min-width: 450px;
    height: 600px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }

  span {
    color: white
  }