@import "../../globalStyling.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

.taskform {
  &__input {
    width: 350px;
    padding: 15px 10px 10px 20px;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #fff;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 15px 35px #e9e4f0;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10% 0;
  }

  &__buttons-styling {
    min-width: 100px;
    background-color: $main-purple;
    color: #ffffff;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-radius: 12px;
    box-shadow: $box-shadow-dark;
    outline: none;
    cursor: pointer;
    padding: 9px 5px;
    letter-spacing: 1px;
  }

}
