.taskform {
  &__input {
    width: 350px;
    min-width: 250px;
    padding: 15px 10px 10px 20px;
    margin-right: 10px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
    color: #ccc;
    background-color: #1d222b;
    border: 1px solid #444;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10% 0
  }

  &__buttons-editadd {
    min-width: 100px;
    background-color: #790e43;
    color: #ccc;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
  }

  &__buttons-clear {
    min-width: 100px;
    background-color: #97637d;
    color: #ccc;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
  }
}
